@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yazılım Evi</h1>
    <p>  <a href="https://www.youtube.com/channel/UCFkGSddGBO-f4gw1otESNqQ/featured">  Yazılım Evi </a> teknoloji, tasarım ve modelleme üzerine eğitsel içerikler paylaşmak üzere kurulmuştur.</p>
</div>
