@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> Bu proje MYAZ201 Yazılım Gereksinimi ve Modelleme dersi kapsamında hazırlanmıştır. 
    Oluşturulan tüm materyaller açık erişimli olarak <b>Yazılım Evi </b> Youtube kanalında yayımlanmıştır. 
    Projeyi istediğiniz gibi alıp kullanabilirsiniz.
</p>
